<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bs/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--<link rel='stylesheet' href= />-->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="/images/logo-square.png">
            <span class="navbar-brand-label">Aqua</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=<%= type1 %> >
              <a href="/">Home</a>
            </li>
            <li class=<%= type2 %> >
              <a href="/about">About</a>
            </li>
            <li class=<%= type3 %> >
              <a href="/reg">Sign up</a>
            </li>
            <li class=<%= type4 %> >
              <a href="/contact">Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class=<%= type5 %> >
              <a href="/login">Sign in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>